* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #f6f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-container {
  width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* border-radius: 10px; */
  /* overflow: hidden; */
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding: 40px 20px;
  /* background-color: #5776e0; */
  color: #5776e0;
}

.equation {
  font-size: 1rem;
  font-weight: 400;
  user-select: none;
}

.bottom-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cur-sign {
  font-size: 3rem;
  font-weight: 300;
  user-select: none;
}

.final-result {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 500;
  overflow: hidden;
  padding-left: 10px;
}

.btn-container {
  width: 100%;
  /* background-color: white; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  min-width: calc(100% / 4);
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 600;

  cursor: pointer;
  user-select: none;
}

.btn-num {
  color: #505667;
}

.btn-sign {
  color: #5776e0;
  background-color: #e2e9ff;
}

.btn-clear {
  color: #505667;
  background-color: #fad4cf;
}

.btn-delete {
  color: #5776e0;
}

.btn-action {
  color: #5776e0;
  background-color: #e2e9ff;
}

.btn:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  z-index: 10;
}
